#screen{

background:black;
color:#55ff55;

white-space:pre-wrap;

padding:16px;

width:100%;
height:100vh;

font-size:18px;

line-height:1.8;

cursor:pointer;

overflow-y:hidden;
background:black;
font-family: monospace;
overflow-y:auto;
}

html, body{
    margin:0;
    padding:0;
    width:100%;
   height:100%;
    background:black;
overflow:hidden;   
}
